{% extends 'biims/base.html' %}
{% block content %}
<br/>
<div class="row">
  <h2 class="post">Search</h2>
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <input type="text" class="search-query form-control" placeholder="Search"/>
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">
          <span class="glyphicon glyphicon-search"></span>
         </button>
      </span>
    </div>
  </div>

<div class="row">
  <ul>
    {% for part in parts %}
      <h1 class="post">{{ part.name }}</h1>
      <li>
        <p class="post">Quantity: {{ part.quantity }}</p>
        <p class="post">Storage Location: {{ part.storage_location }}</p>
        {% if part.is_easy_consumable %}
          <p class="post">Consumable Location: {{ part.consumable_location }}</p>
        {% endif %}
        <p class="post">Last Reorder: {{ part.last_reorder_date }}</p>
        <p class="post">Last Reorder Quantity: {{ part.last_reorder_quantity }}</p>
       </li>
    {% endfor %}
  </ul>
</div>

<nav>
  <ul class="pager">
      {% if parts.has_previous %}
        <li><a href="?page={{ parts.previous_page_number }}" aria-label="Previous">
          <span class="glyphicon glyphicon-chevron-left">
        </a></li>
      {% endif %}

      <span class="post">
         Page {{ parts.number }} of {{ parts.paginator.num_pages }}
      </span>

      {% if parts.has_next %}
        <li><a href="?page={{ parts.next_page_number }}" aria-label="Next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a></li>
      {% endif %}
  </ul>
</nav>

{% endblock %}
