{% extends 'biims/base.html' %}
 
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1 class="title_small hidden-sm hidden-md hidden-lg">Battleship Iowa Inventory Managment System</h1>
    <h1 class="title_large hidden-xs">Battleship Iowa Inventory Managment System</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 id="option_1"><a class="btn-lg option" href="{% url 'biims:search' %}">Search Inventory</a></h1>
    <h1 id="option_3"><a class="btn-lg option" href="{% url 'biims:new_item' %}">Update Inventory</a></h1>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1 id="option_5" class="btn-lg option">Asset Request</h1>
    <h1 id="option_6" class="btn-lg option">Generate Reports</h1>
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 id="option_7" class="btn-lg option">New Purchase Request</h1>
  </div>
</div>
{% endblock %}
