{% extends 'biims/base.html' %}
 
{% block content %}
<!--
<div class="row">
   <div class="col-xs-12">
     <div class="dropdown">
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li><a href="#">Parts Lookup</a></li>
         <li><a href="#">Parts Removal</a></li>
         <li><a href="#">Update Inventory</a></li>
         <li><a href="#">Asset Lookup</a></li>
         <li><a href="#">Asset Request</a></li>
         <li><a href="#">New Purchase Request</a></li>
         <li><a href="#">Generate Reports</a></li>
       </ul>
     </div>
   </div>
</div>
-->
<div class="row">
  <div class="col-xs-12">
    <h1 class="title_small hidden-sm hidden-md hidden-lg">Battleship Iowa Inventory Managment System</h1>
    <h1 class="title_large hidden-xs">Battleship Iowa Inventory Managment System</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 id="option_1"><a class="btn-lg option" href="{% url 'biims:part_lookup' %}">Part Lookup</a></h1>
    <h1 id="option_2" class="btn-lg option">Parts Removal</h1>
    <h1 id="option_3" class="btn-lg option">Update Inventory</h1>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1 id="option_4"><a class="btn-lg option" href="{% url 'biims:asset_lookup' %}">Asset Lookup</a></h1>
    <h1 id="option_5" class="btn-lg option">Asset Request</h1>
    <h1 id="option_6" class="btn-lg option">Generate Reports</h1>
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 id="option_7" class="btn-lg option">New Purchase Request</h1>
  </div>
</div>
{% endblock %}
