{% extends 'biims/base.html' %}
{% load to_and %}
{% block content %}
<br/>
<div class="row">
  <h2 class="post">Search</h2>
  <div id="custom-search-input">
    <form action="{% url 'biims:ajax_search' %}" method="POST" id="search-form"> {% csrf_token %}
      <div class="input-group col-md-12">
        {{ form }}
        <!--<input type="text" class="search-query form-control" placeholder="Search"/>-->
        <span class="input-group-btn">
        <button class="btn btn-danger" type="submit">
          <span class="glyphicon glyphicon-search"></span>
         </button>
         <!--<button class="btn btn-default" data-toggle="modal" data-target="#search-modal" type="button">
           <span class="glyphicon glyphicon-wrench"></span>
         </button> -->
        </span>
      </div>
    </form>
  </div>

<div class="row">
  <ul id="results">
    {% for item in items %}
      <h1 class="post">
        {{ item.name|to_and }}
        {% if not item.is_easy_consumable %}
          <a href="{% url 'biims:remove_item_argument' item.name %}" class="btn btn-danger">Add to Cart
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
        {% endif %}
      </h1>
      <li>
        <p class="post">Quantity: {{ item.quantity }}</p>
        <p class="post">Storage Location: {{ item.storage_location }}</p>
        {% if item.is_easy_consumable %}
          <p class="post">Consumable Location: {{ item.consumable_location }}</p>
        {% endif %}
        <p class="post">Last Reorder: {{ item.last_reorder_date }}</p>
        <p class="post">Last Reorder Quantity: {{ item.last_reorder_quantity }}</p>
       </li>
    {% endfor %}
  </ul>
</div>

<nav>
  <ul class="pager">
      {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}" aria-label="Previous">
          <span class="glyphicon glyphicon-chevron-left">
        </a></li>
      {% endif %}

      <span class="post">
         Page {{ parts.number }} of {{ parts.paginator.num_pages }}
      </span>

      {% if parts.has_next %}
        <li><a href="?page={{ parts.next_page_number }}" aria-label="Next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a></li>
      {% endif %}
  </ul>
</nav>

{% endblock %}
