.new-item-error-flash {
  background-color: #fbb0b0;
  display: block;
  padding: 5px;
  margin: 0 auto 10px;
}

.new-item-good-flash {
  background-color: #62f464;
  display: block;
  padding: 5px;
  margin: 0 auto 10px;
}
